<?php

/** @var \Team2BestSeller\BestsellersProducts\Block\Widget\BestsellersProducts $block */
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) : ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = false;
    $showCart = true;
    //    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    ?>
    <div class="block widget block-products-list <?= $mode ?>">
        <div class="container">
            <div class="block-content">
                <?= '<!-- ' . $image . '-->' ?>
                <div class="products-<?= $mode ?> <?= $mode ?>">
                    <ol class="product-items <?= $type ?>">
                        <?php $iterator = 1; ?>
                        <?php foreach ($items as $_item) : ?>
                            <?= ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                            <div class="product-item-info">
                                <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                    <?= $block->getImage($_item, $image)->toHtml() ?>
                                </a>
                                <?php $finalPrice = $_item->getFinalPrice();
                            $price = $_item->getPrice();
                            if ($finalPrice < $price) { ?>
                                <span class="discount_percent">
                                    <?php
                                    $saving = round(($finalPrice / $price) * 100) - 100;
                                    echo $saving . "%"; ?>
                                </span>
                            <?php } ?>
                                <div class="tuan-best-seller">
                                    <div class="product-item-details">
                                        <strong class="product-item-name tuan-bs">
                                            <a title="<?= $block->escapeHtml($_item->getName()) ?>" href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-link">
                                                <?= $block->escapeHtml($_item->getName()) ?>
                                            </a>
                                        </strong>
                                        <?php if ($templateType) : ?>
                                            <div class="abc">
                                                <?= $block->getReviewsSummaryHtml($_item, $templateType, false);
                                                ?>
                                            </div>
                                        <?php endif; ?>
                                        <?php if ((int)$_item->getReviewsCount() == 0) : ?>
                                            <div class="abc">
                                                <div class="rating-summary" id="rating-summary-none">
                                                    <div class="rating-result" title="0%">
                                                        <span style="width: 0%;"><span>0%</span></span>
                                                    </div>
                                                </div>
                                            </div>


                                        <?php endif; ?>
                                        <div class="price-bestseller">
                                            <?php
                                            
                                            echo $block->getProductPriceHtml($_item, $type);
                                            ?>
                                
                                        </div>
                                      
                                        <?php if ($showWishlist || $showCompare || $showCart) : ?>
                                            <div class="product-item-actions">
                                                <?php if ($showCart) : ?>
                                                    <div class="actions-primary">
                                                        <?php if ($_item->isSaleable()) : ?>
                                                            <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)) : ?>
                                                                <button class="action tocart primary" data-mage-init='{"redirectUrl":{"url":"<?= $block->escapeUrl($block->getAddToCartUrl($_item)) ?>"}}' type="button" title="<?= $block->escapeHtml(__('Add to Cart')) ?>">
                                                                    <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                </button>
                                                            <?php else : ?>
                                                                <?php
                                                                $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                                ?>

                                                            <?php endif; ?>
                                                        <?php else : ?>
                                                            <?php if ($_item->getIsSalable()) : ?>
                                                                <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                            <?php else : ?>
                                                                <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                            <?php endif; ?>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                                <?php if ($showWishlist || $showCompare) : ?>
                                                    <div class="actions-secondary" data-role="add-to-links">
                                                        <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && $showWishlist) : ?>
                                                            <a href="#" data-post='<?= $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtml(__('Add to Wish List')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                        <?php if ($block->getAddToCompareUrl() && $showCompare) : ?>
                                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                                            <a href="#" class="action tocompare" data-post='<?= $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtml(__('Add to Compare')) ?>">
                                                                <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                            </a>
                                                        <?php endif; ?>
                                                    </div>
                                                <?php endif; ?>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>

                            </div>
                            <?= ($iterator == count($items) + 1) ? '</li>' : '' ?>
                        <?php endforeach ?>
                    </ol>
                </div>
            </div>
            <div class="row justify-content-center browse-all-row">
                <a href="http://team2.local/team2/product/onepage" class="best-seller-browseall">
                <span class="text-browse"> BROWSE ALL</span><i class="fas fa-long-arrow-alt-right fas-img-left-1"> </i>
                </a>
            </div>
        </div>

    </div>
<?php endif; ?>