<p>{{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="19"}}</p>
<div style="width: 500px; height: 650px;">
    <h2 class="title">Hưng rèo</h2>
    <div class="owl-carousel owl-theme">
        <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="" width="500px" height="500px">
        <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="" width="500px" height="500px">
        <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="" width="500px" height="500px">
    </div>
</div>
<p>&nbsp;</p>
<p><img src="{{media url="wysiwyg/main-banner-left-02.jpg"}}" alt="" width="260" height="315"> <img
        src="{{media url="wysiwyg/main-banner-left-03.jpg"}}" alt="" width="400px" height="315px"></p>
<h2 class="title">&nbsp;</h2>
<div style="width: 500px; height: 650px;">
    <h2 class="title">Hưng rèo</h2>
    <div class="owl-carousel owl-theme">
        <div class="item" style="width: 500px; height: 500px; color: red;"><strong>SLide 1</strong></div>
        <div class="item" style="width: 500px; height: 500px; color: yellow;"><strong>SLide 12</strong></div>
        <div class="item" style="width: 500px; height: 500px; color: blue;"><strong>SLide 13</strong></div>
    </div>
</div>





/////table cực kỳ quan trọng
<table style="border-collapse: collapse; width: 99.9998%; height: 56px;" border="0">
    <tbody>
        <tr style="height: 22px;">
            <td style="width: 50%; height: 22px;">
                {{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="20"}}
            </td>
            <td style="width: 50%; height: 22px;">
                {{widget type="Magento\Cms\Block\Widget\Block" template="widget/static_block/default.phtml" block_id="23"}}
            </td>
        </tr>
    </tbody>
</table>


<div style="width: 500px; height: 650px;">
    <h2 class="title">Hưng rèo</h2>
    <div class="owl-carousel owl-theme">
        <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="" width="500px" height="500px">
        <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="" width="500px" height="500px">
        <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="" width="500px" height="500px">
    </div>
</div>

<div style="width: 580px; height: 100%;">
    <div class="owl-carousel owl-theme">
        <a class="item" href="{{store url=""}}collections/erin-recommends.html">
            <img width="100%" height="100%" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="">
        </a>
        <a class="item" href="{{store url=""}}collections/erin-recommends.html">
            <img width="100%" height="100%" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="">
        </a>
        <a class="item" href="{{store url=""}}collections/erin-recommends.html">
            <img width="100%" height="100%" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="">

        </a>
    </div>
</div>



<div style="width: 600px; height: 100%;">
    <div class="owl-carousel owl-theme"><img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt=""
            width="100%" height="100%"> <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt=""
            width="100%" height="100%"> <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt=""
            width="100%" height="100%"></div>
</div>

<p>
    <a class="block-promo home-t-shirts" href="{{store url=""}}promotions/tees-all.html">
        <img src="{{media url="wysiwyg/main-banner-left-01.jpg"}}" alt="" width="574" height="260">&nbsp; &nbsp;
        &nbsp;&nbsp;
        <span class="content"> <strong class="title">Even more ways to mix and match</strong>
            <span class="info">Buy 3 Luma tees get a 4th free</span>
            <span class="action more icon">Shop Tees</span>
        </span>
    </a>
</p>
<p>
    <a class="block-promo home-t-shirts" href="{{store url=""}}promotions/tees-all.html">
        <img src="{{media url="wysiwyg/main-banner-left-02.jpg"}}" alt="" width="574" height="260">&nbsp; &nbsp;
        &nbsp;&nbsp;
        <span class="content"> <strong class="title">Even more ways to mix and match</strong>
            <span class="info">Buy 3 Luma tees get a 4th free</span>
            <span class="action more icon">Shop Tees</span>
        </span>
    </a>
    <a class="block-promo home-t-shirts" href="{{store url=""}}promotions/tees-all.html">
        <img src="{{media url="wysiwyg/main-banner-left-03.jpg"}}" alt="" width="574" height="260">&nbsp; &nbsp;
        &nbsp;&nbsp;
        <span class="content"> <strong class="title">Even more ways to mix and match</strong>
            <span class="info">Buy 3 Luma tees get a 4th free</span>
            <span class="action more icon">Shop Tees</span>
        </span>
    </a>
</p>

<div class="block-promo-wrapper block-promo-hp">
    <a class="block-promo home-t-shirts" href="{{store url=""}}promotions/tees-all.html">
        <span class="image">
            <img src="{{media url="wysiwyg/home/home-t-shirts.png"}}" alt="">
        </span>
        <span class="content"> <strong class="title">Even more ways to mix and match</strong>
            <span class="info">Buy 3 Luma tees get a 4th free</span>
            <span class="action more icon">Shop Tees</span>
        </span>
    </a>
    <a class="block-promo home-pants" href="{{store url=""}}promotions/pants-all.html">
        <img src="{{media url="wysiwyg/home/home-pants.jpg"}}" alt="">
        <span class="content"> <strong class="title">20% OFF</strong> <span class="info">Luma pants when you shop
                today*</span>
            <span class="action more icon">Shop Pants</span>
        </span>
    </a>
    <a class="block-promo home-erin" href="{{store url=""}}collections/erin-recommends.html">
        <img src="{{media url="wysiwyg/home/home-erin.jpg"}}" alt="">
        <span class="content">
            <strong class="title">Take it from Erin</strong>
            <span class="info">Luma founder Erin Renny shares her favorites!</span>
        </span>
    </a>
    <a class="block-promo home-pants" href="{{store url=""}}promotions/pants-all.html">
        <img src="{{media url="wysiwyg/home/home-pants.jpg"}}" alt="">
        <span class="content"> <strong class="title">20% OFF</strong> <span class="info">Luma pants when you shop
                today*</span>
            <span class="action more icon">Shop Pants</span>
        </span>
    </a>
</div>


<p>
    <a href="{{store url=""}}promotions/tees-all.html">
        <img src="{{media url="wysiwyg/main-banner-left-01.jpg"}}" alt="" width="574" height="260">
        <!-- <span class="content"> <strong class="title">Even more ways to mix and match</strong>
                <span class="info">Buy 3 Luma tees get a 4th free</span>
                <span class="action more icon">Shop Tees</span>
            </span> -->
    </a>
</p>
<p>
    <a href="{{store url=""}}promotions/tees-all.html">
        <img src="{{media url="wysiwyg/main-banner-left-02.jpg"}}" width="224" height="271" alt="">
        <!-- <span class="content"> <strong class="title">Even more ways to mix and match</strong>
            </span> -->
    </a>
    <a href="{{store url=""}}promotions/tees-all.html">
        <img src="{{media url="wysiwyg/main-banner-left-03.jpg"}}" width="345" height="271" alt="">
        <!-- <span class="content"> <strong class="title">Even more ways to mix and match</strong>
            </span> -->
    </a>
</p>




///////////////////////////////// Code cho cms homepage

<div style="width: 500px; height: 650px;">
    <h2 class="title">Hưng rèo</h2>
    <div class="owl-carousel owl-theme"><img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt=""
            width="500px" height="500px"> <img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt=""
            width="500px" height="500px"></div>
    <div class="owl-carousel owl-theme">&nbsp;<img class="item" src="{{media url="wysiwyg/main-banner-right-1.jpg"}}"
            alt="" width="500px" height="500px"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="row"><img src="{{media url="wysiwyg/main-banner-left-01.jpg"}}" alt="">
                <div class="banner-content-image content-right">
                    <h3 class="text-banner-image-1"><strong>wooden<br></strong>Black Chair</h3>
                    <div class="banner-info-image">
                        <p>starting from $199</p>
                        <a class="btnShopnow" href="#">shop now </a>
                    </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-4" style="padding: 0%;"><img src="{{media url="wysiwyg/main-banner-left-03.jpg"}}"
                        alt="" width="400" height="315"></div>
                <div class="col-8" style="padding: 0 0 0 2rem;"><img
                        src="{{media url="wysiwyg/main-banner-left-03.jpg"}}" alt=""></div>
            </div>
        </div>
        <div class="col-md-6 pt-4">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img src="{{media url="wysiwyg/main-banner-right-1.jpg"}}"
                            alt="First slide">
                        <div class="banner-content content-left">
                            <h3><strong>wooden<br></strong>Black Chair</h3>
                            <div class="banner-info"><a class="btn skew-box" href="#">go coupon</a>
                                <h3 class="sale-off skew-box">$100off</h3>
                                <p>starting from $199</p>
                                <a class="btnShopnow" href="#">shop now </a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item"><img src="{{media url="wysiwyg/main-banner-right-1.jpg"}}"
                            alt="Second slide"></div>
                    <div class="carousel-item"><img src="{{media url="wysiwyg/main-banner-right-1.jpg"}}"
                            alt="Third slide"></div>
                    <div class="carousel-item"><img src="{{media url="wysiwyg/main-banner-right-1.jpg"}}"
                            alt="Third slide"></div>
                </div>
                <a class="carousel-control-prev" role="button" href="#carouselExampleControls" data-slide="prev"> <span
                        class="sr-only">Previous</span> </a> <a class="carousel-control-next" role="button"
                    href="#carouselExampleControls" data-slide="next"> <span class="sr-only">Next</span> </a>
            </div>
            <!-- <img src="{{media url="wysiwyg/main-banner-right-1.jpg"}}" alt="" /> -->
        </div>
    </div>
</div>